@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Merriweather+Sans:wght@300;400;600&display=swap');

html, body {
  position: relative;
  margin: 0;
}

body {
  font-family: 'Merriweather Sans', 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

header {
  position: absolute;
  top: 0; left: 0;
  width: calc(100% - 48px);
  display: flex;
  padding: 12px 24px;
  z-index: 1000;
  transition: 0.2s linear background-color;
}

header:hover {
  background-color: #000000af;
  --logo-color: white;
}

header > * {
  align-self: center;
}

header > h1 {
  font-size: 18px;
  margin-block: 0;
  margin-left: 12px;
  flex-basis: 0;
  flex-grow: 1;
}

header > a {
  text-decoration: none;
  margin-left: 12px;
}

footer > * {
  z-index: 9999;
}

div[section] {
  position: relative;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 { width: fit-content; }
h1 { font-size: 42px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 {
  font-size: 18px;
  font-weight: 300;
}

[diagonal] {
  --diagonal-bg: #000000af;
  --diagonal-fg: #222222af;
  background-color: var(--diagonal-bg);
  background: repeating-linear-gradient(-45deg, var(--diagonal-fg), var(--diagonal-fg) 5px, var(--diagonal-bg) 5px, var(--diagonal-bg) 25px);
}

h1[diagonal] { padding: 18px; }

a {
  color: unset;
}

header > * {
  color: var(--logo-color);
  transition: 0.2s linear color;
}

code {
  font-family: 'Inconsolata', 'Consolas', monospace;
  font-size: 16px;
  background-color: #00000010;
  padding: 12px 15px;
  border-radius: 8px;
  user-select: all;
}

[underlined] {
  text-decoration: underline;
}

div.footer-top, div.footer-mid, div.footer-bot {
  display: flex;
}

div.footer-mid, div.footer-bot {
  margin-top: 24px;
}

div.footer-top > h1 {
  font-size: 18px;
  align-self: center;
  margin-block: 0;
  margin-left: 12px;
  flex-basis: 0;
  flex-grow: 1;
}

div.footer-mid {
  flex-grow: 4;
  flex-wrap: wrap;
}

div.footer-mid > div.col {
  flex: 1;
  flex-basis: 21%;
}

div.footer-mid > div.col > * {
  display: block;
  text-decoration: none;
}

div.footer-mid > div.col > h1 {
  font-size: 14px;
}

div.footer-bot {
  color: #afafaf;
}

a.logo {
  width: 32px;
  height: 32px;
  font-size: 0;
  mask-image: var(--icon);
  mask-size: cover;
  -webkit-mask-image: var(--icon);
  -webkit-mask-size: cover;
  background-color: white;
}

.fa-facebook {
  color:#24a8fa;
  margin-right: .5rem;
}

.fa-youtube {
  color:red;
  margin-right: .5rem;
}

.fa-twitter {
  color: #1DA1F2;
  margin-right: .5rem;
}

a.logo.github { --icon: url("./assets/ionicons/logo-github.svg"); }

.logo {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid var(--logo-color);
  border-radius: 100%;
  order: 0;
  flex: 0 0 auto;
  transition: 0.2s linear border;
  background-color: transparent;
}

.logo::before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  mask-image: url("./assets/logo.svg");
  mask-size: cover;
  -webkit-mask-image: url("./assets/logo.svg");
  -webkit-mask-size: cover;
  background-color: var(--logo-color);
  border-radius: 100%;
  transition: 0.2s linear background-color;
}

a.logo.nijigen {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid var(--logo-color);
  border-radius: 100%;
  order: 0;
  flex: 0 0 auto;
  transition: 0.2s linear border;
  background-color: transparent;
}

a.logo.nijigen::before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  mask-image: url("./assets/logo.svg");
  mask-size: cover;
  -webkit-mask-image: url("./assets/logo.svg");
  -webkit-mask-size: cover;
  background-color: var(--logo-color);
  border-radius: 100%;
  transition: 0.2s linear background-color;
}

.preloader{position:fixed;left:0px;top:0px;width:100%;height:100%;z-index:9999;background:#fff;}
.preloader .preloader-container{position:absolute;left:0;right:0;margin:auto;display:block;width:120px;text-align:center;top:50%;transform:translateY(-50%);}
.preloader .preloader-container svg{width:120px;height:80px;display:inline-block;vertical-align: middle;text-align:center;padding-left:15px;}
.preloader .preloader-container span{font-size:18px;font-weight:500;letter-spacing:2px;color:#3b474c;display:block;margin-top:-10px;}

/* Wrapper */
.icon-button {
  background-color: white;
  border-radius: 3.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2.0rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 3.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem;
}
.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.youtube span {
  background-color: #db5a3c;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 3.6rem;
  left: 0;
  line-height: 3.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 3.6rem;
  z-index: 10;
}
.icon-button .fa-twitter {
  color: #4099ff;
}
.icon-button .fa-facebook {
  color: #3B5998;
}
.icon-button .fa-youtube {
  color: #db5a3c;
}
.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-youtube {
  color: white;
}

@media screen and (min-width: 768px) {
  div[section] {
    padding: 36px 120px;
  }

  div[section][full] {
    min-height: calc(100vh - 72px);
  }
}

@media screen and (max-width: 768px) {
  div[section] {
    padding: 18px 32px;
  }

  div[section][full] {
    min-height: calc(100vh - 36px);
  }

  div.footer-mid > div.col {
    flex-basis: 50%;
  }
}
